@import 'tailwindcss';

:root {
  --font-display: 'Pretendard';
  --breakpoint-3xl: 1920px;
  --color-pink-200: #fff6f5;
  --color-pink-300: #ffe4e1;
  --color-pink-400: #ff6d6d;
  --color-grey-200: #d9d9d9;
  --color-grey-300: #f5f5f5;
  --color-grey-400: #acacac;
  --color-grey-500: #5a5a5a;
  --color-grey-600: #717171;
  --color-blue-200: #eff8ff;
  --color-yellow-200: #fffaf0;
  --color-black-100: #000000;
  /* ... */
}

@layer utilities {
  .bg-pink {
    background-color: var(--color-pink-200);
  }
  .bg-pink-primary {
    background-color: var(--color-pink-300);
  }
  .bg-yellow {
    background-color: var(--color-yellow-200);
  }
  .text-grey-400 {
    color: var(--color-grey-400);
  }
  .text-large {
    color: var(--color-grey-400);
    font-size: large;
  }
  .text-title {
    color: var(--color-black-100);
    font-size: large;
    font-weight: bold;
  }
  .text-grey-300 {
    color: var(--color-grey-300);
  }
  .text-description {
    color: var(--color-grey-400);
    font-size: small;
  }
  .border-grey-200 {
    border: 1px solid var(--color-grey-200);
  }
}

@keyframes floatVertical {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px); /* 위아래로 이동 */
  }
}

.animate-float-vertical {
  animation: floatVertical 2s ease-in-out infinite;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  src: url('/assets/woff/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('/assets/woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  src: url('/assets/woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url('/assets/woff/Pretendard-Bold.woff') format('woff');
}

body {
  font-family: 'Pretendard', sans-serif;
  line-height: 1.5;
  -webkit-overflow-scrolling: touch;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

input,
button,
textarea {
  outline: none;
}
